body {
    margin: 0;
    padding: 0;
    background-color: white;
    transition: background-color 1s;
}
body.darkMode {
    background-color: black;
}

p, a {
    font-size: 150%;
}

p {
    color: black;
    transition: color 1s;
}
p.darkMode {
    color: white;
}

a {
    text-decoration: none !important;
    color: blue;
    transition: color 1s;
}
a:hover {
    color: red;
}
a.darkMode {
    color: orange;
}
a.darkMode:hover {
    color: green;
}

h1, h2, h3, h4, h5, h6, .page-header {
    color: black;
    transition: color 1s;
}
h1.darkMode, h2.darkMode, h3.darkMode, h4.darkMode, h5.darkMode, h6.darkMode, .page-header.darkMode {
    color: white;
}
.page-header {
    border-bottom: 1px solid #ccc;
    transition: border-bottom 1s;
}
.page-header.darkMode {
    border-bottom: 1px solid #333;
}

.jumbotron {
    background-color: #ccc;
    transition: background-color 1s;
}
.jumbotron.darkMode {
    background-color: #333;
}

button {
    background-color: #ccc;
    color: black;
    outline: none;
    border:none;
    transition: background 1s, color 1s;
}
button:hover {
    background-color: #333;
    color: white;
}
button.darkMode {
    background-color: #333;
    color: white;
    transition: color 1s;
}
button.darkMode:hover {
    background-color: #ccc;
    color: black;
}

ul.topNav {
    padding: 0;
    margin: 0;
    background-color: black;
    display: inline-block;
    transition: background-color 1s;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    overflow: hidden;
    list-style-type: none;
}
ul.topNav.darkMode {
    background-color: white;
}

ul.topNav li {
    transition: background-color 1s;
    background-color: #ccc;
    float: left;
    display: block;
    padding: 10px;
}
ul.topNav li:hover {
    background-color: #333;
}
ul.topNav.darkMode li {
    background-color: #333;
}
ul.topNav.darkMode li:hover {
    background-color: #ccc;
}

ul.topNav li a {
    color: white;
    padding: 14px;
    font-size: 175%;
    transition: color 1s;
    display: block;
    text-decoration: none;
    text-align: center;
}
ul.topNav li:hover a {
    color: black;
}
ul.topNav.darkMode li a {
    color: black;
}
ul.topNav.darkMode li:hover a {
    color: white;
}

ul.sticky {
    position: fixed;
    top: 0;
}
.sticky + .topNavbarWrapper {
    padding-top: 87px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: 1s;
    transition: 1s;
}
input:checked + .slider {
    background-color: black;
}
input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    background-color: white;
}
.slider:before {
    border-radius: 50%;
}
