:root {
    --bodyBg: white;
    --p: black;
    --a: blue;
    --h: black;
    --hBorderBottom: #ccc;
    --jumbotronBg: #ccc;
    --button: black;
    --buttonBg: #ccc;
    --ulTopNav: black;
    --ulTopNavLiBg: #ccc;
    --ulTopNavLiA: white;
    --ulFooterBorderBottom: #ccc;
    --ulFooterLiA: blue;
}
.darkMode {
    --bodyBg: black;
    --p: white;
    --a: orange;
    --h: white;
    --hBorderBottom: #333;
    --jumbotronBg: #333;
    --button: white;
    --buttonBg: #333;
    --ulTopNav: white;
    --ulTopNavLiBg: #333;
    --ulTopNavLiA: black;
    --ulFooterBorderBottom: #333;
    --ulFooterLiA: orange;
}
.pageContent > *:hover, ul.topNav > *:hover {
    --a: red;
    --button: white;
    --buttonBg: #333;
    --ulTopNavLiBg: #333;
    --ulTopnavLiA: black;
}
.darkMode:hover, ul.topNav.darkMode > *:hover {
    --a: green;
    --button: black;
    --buttonBg: #ccc;
    --ulTopNavLiBg: #ccc;
    --ulTopnavLiA: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bodyBg);
    transition: background-color 1s;
}
.transitionsDisabled {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

p, a {
    font-size: 150%;
    font-family: 'alata';
}

p {
    color: var(--p);
    transition: color 1s;
}

a {
    text-decoration: none !important;
    color: var(--a);
    transition: color 1s;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--h);
    transition: color 1s;
    border-bottom: 1px solid var(--hBorderBottom);
    transition: border-bottom 1s, color 1s;
    font-family: 'alata';
    font-size: 135%;
}

.jumbotron {
    background-color: var(--jumbotronBg);
    transition: background-color 1s;
    border-radius: 5px;
}
.jumbotron * {
    margin: 0px;
    padding: 10px;
}

button {
    background-color: var(--buttonBg);
    color: var(--button);
    outline: none;
    border: none;
    transition: background-color 1s, color 1s;
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
    font-size: 175%;
}

ul.topNav {
    padding: 0;
    margin: 0;
    background-color: var(--ulTopNav);
    display: inline-block;
    transition: background-color 1s;
    position: sticky;
    position: -webkit-sticky;
    width: 100%;
    min-width: 100%;
    box-sizing: content-box;
    list-style-type: none;
}

ul.topNav li {
    transition: background-color 1s;
    background-color: var(--ulTopNavLiBg);
    float: left;
    display: block;
    padding: 10px;
    line-height: 50px;
}

ul.topNav li a {
    color: var(--ulTopNavLiA);
    padding: 14px;
    font-size: 175%;
    transition: color 1s;
    display: block;
    text-decoration: none;
    text-align: center;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    vertical-align: middle;
    horizontal-align: middle;
}
.sticky + .pageContent {
    padding-top: 100px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: 1s;
    transition: 1s;
    border-radius: 34px;
    vertical-align: middle;
    horizontal-align: middle;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: 1s;
    transition: 1s;
}
input:checked + .slider {
    background-color: black;
}
input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    background-color: white;
}
.slider:before {
    border-radius: 50%;
}

ul.footer {
    display: inline-block;
    width: 100%;
    border-top: 1px solid #ccc;
    transition: 1s;
    overflow: hidden;
}
ul.footer.darkMode {
    border-top: 1px solid #333;
}
ul.footer li {
    list-style-type: none;
    display: inline-block;
}
ul.footer li a {
    text-decoration: none !important;
    color: var(--ulFooterLiA);
    transition: color 1s;
    display: inline-block;
    margin: 10px;
    text-align: center;
}
